{% extends "app/base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block search  %}
    <h5>
    </h5>
    <br/>
    <div class="row" style="width:100%">
        {%for product in products %}
        <div class="col-lg-3">
          <img class="thumbnail" src="{{product.ImageURL}}">
          <div class="box-element product">
            <h6>{{product.name}}</h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add cart</button>
            <a class="btn btn-outline-success" href="{% url 'detail'%}?id={{product.id}}">View</a>
            <h4 style="display: inline-block; float: right"><strong>{{product.price | floatformat:2}}$</strong></h4>
          </div>
        </div>  
        {% endfor %}  
    </div>

    {% endblock search %}
</body>
</html>