{% extends "app/base.html" %}
{% load static %}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
 

    {% block detail  %}
  
    <div class="container mt-5 mb-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-10">
              <div class="card" >
                  <div class="row">
                      <div class="col-md-6">
                          <div class="images p-3">
                            <div class="text-center p-4">
                                <img id="main-image"  src="{{product.ImageURL}}" width="450" alt="Product Image" />
                            </div>
                              <div class="thumbnail text-center"> <img style="margin-left:40px"  src="{%static 'app/images/table_size.jpg'%}" width="450"> </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="product p-4">
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="d-flex align-items-center"><a style="text-decoration:none" href="{% url 'home'%}"> <i class="fa fa-long-arrow-left"></i><span class="ml-1">Back</span></a>  </div> <i class="fa fa-shopping-cart text-muted"></i>
                              </div>
                              <div class="mt-4 mb-3"> <span id="shoeType" class="text-uppercase text-muted brand">{{product.shoe_type}}</span>
                                  <h5 id ="productName"class="text-uppercase">{{product.name}}</h5>
                                  <div class="price d-flex flex-row align-items-center"> <span id="productPrice" class="act-price">{{product.price_avg}}$</span>  
                                  </div>
                                  <p id ="detail" class="about">{{product.detail}}</p>
                              </div>
                              <div class="sizes mt-5">
                                <h6 class="text-uppercase">Size</h6>
                                {% for size in sizes %}
                                    
                                    <label class="radio size-option" data-variant-id="{{ product_variant.id }}">
                                        <input type="radio"  name="size" value="{{ size.id }}" checked>
                                        <span>{{ size.name }}</span>
                                    </label>
                                  
                                {% endfor %}
                            
                                <h6 class="text-uppercase">Color</h6>
                                {% for color in colors %}
                                    
                                    <label class="radio color-option" data-variant-id="{{ product_variant.id }}">
                                        <input type="radio" name="color" value="{{ color.id }}" checked>
                                        <span>{{ color.name }}</span>
                                    </label>
                                     
                                {% endfor %}

                            </div>
                              <div class="cart mt-4 align-items-center"> <button data-product={{product.id}} data-action="add" class="btn btn-danger text-uppercase mr-2 px-4 add-btn update-cart" style="color: black; transition: color 0.1s;" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">Add to cart</button> <i class="fa fa-heart text-muted"></i> </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<script src="{% static 'app/js/cart.js' %}"></script>
{% endblock detail %}
</body>
</html>


