{% extends "app/base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block search  %}
    <h5>
        Result search for {{search_id}}:
    </h5>
    <br/>
    <div class="row" style="width:100%">
        {%for product in keys %}
        <div class="col-lg-3">
          <img class="thumbnail" style="width: 331px;" src="{{product.ImageURL}}">
          <div class="box-element product">
            <h6>{{product.name}}</h6>
            <hr>
            <button data-product={{product.id}} class="btn btn-outline-secondary add-btn update-cart">
              <a style="text-decoration:none" href="{% url 'detail'%}?id={{product.id}}">Buy</a>
            </button>
            <a class="btn btn-outline-success" href="{% url 'detail'%}?id={{product.id}}">View</a>
            <h4 style="display: inline-block; float: right"><strong>{{product.price_avg | floatformat:2}}$</strong></h4>
          </div>
        </div>  
        {% endfor %}  
    </div>

    {% endblock search %}
</body>
</html>